@font-face {
  font-family: "GTWalsheimPro";
  src: url("/fonts/GTWalsheimPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GTWalsheimPro";
  src: url("/fonts/GTWalsheimPro-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

